.nav-section {
  background-color: #cc080b;
  .navbar-brand {
    .nav-img {
      height: 50px;
      width: 50px;
      img {
        width: 100%;
      }
    }
    p {
      font-size: 32px;
      margin-top: 10px;
      text-align: center;
      font-weight: 700;
      color: #fff;
      letter-spacing: 2px;
      text-shadow: #cc080b 2px 0px 0px, #cc080b 1.75517px 0.958851px 0px,
        #cc080b 1.0806px 1.68294px 0px, #cc080b 0.141474px 1.99499px 0px,
        #cc080b -0.832294px 1.81859px 0px, #cc080b -1.60229px 1.19694px 0px,
        #cc080b -1.97998px 0.28224px 0px, #cc080b -1.87291px -0.701566px 0px,
        #cc080b -1.30729px -1.5136px 0px, #cc080b -0.421592px -1.95506px 0px,
        #cc080b 0.567324px -1.91785px 0px, #cc080b 1.41734px -1.41108px 0px,
        #cc080b 1.92034px -0.558831px 0px;
    }
  }

  .navbar-collapse {
    justify-content: flex-end;

    .nav-cart {
      .admin-btn {
        display: flex;
        align-items: center;
        color: #ffff;
        cursor: pointer;
        background-color: #da282a;
      }
      .cart {
        font-size: 25px;
        cursor: pointer;

       .card-value{
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #fff;
        color: #da282a;
        font-size: 16px;
        font-weight: bold;

       }
      }
    }
  }
}
