.sidebar-section {
  background-color: #fff0f0;

  // width: 280px;
  height: 100vh;

  .nav {
    &-item {
      font-size: 20px;
      background-color: #fff;

      &:hover {
        background-color: #fff;
        color: #fff !important;
      }
    }
  }

  .admin-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .admin-intro {
    color: #3f2e0c;
  }

  .logout-btn {
    border: 1px solid #da282a;
    color: #da282a;

    &:hover {
      background-color: #da282a;
      color: white;
    }
  }
}
